body {
  background: #f9e933;
  font-size: 100%;
}

header, main, footer {
  min-width: 855px;
  font-family: 'Droid Sans', sans-serif;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-style: Italic;
  color: #cdcdcd;
  margin-top: 1em;
  margin-bottom: 1em;
}

header nav {
  float: right;
  width: 285px;
  margin-top: 3em;
  margin-bottom: 3em;
}

main {
  background: white;
  border-top-style: solid;
  border-top-color: #cdcdcd;
  border-top-width: 1px;
}

main h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em
  font-color: #cdcdcd;
  margin-top: 1em;
}


main h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: .5em;
}

main h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

main h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
}

main .content {
  float: left;
  width: 570px;
}


footer .contact {
  float: left;
  width: 570px;

}

footer .company-name {
  color: #cdcdcd;
  font-style: italic;
}

h5 {
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

footer .sitemap {
  float: right;
  width: 270px;
}

footer .sitemap-left {
  float: left;
  width: 50%;
}

footer .sitemap-right {
  float: right;
  width: 50%;
}


